<ul>
  <li>
    <%= f.label :school_name, 'School name' %>:
    <%= f.text_field :school_name %>   
  </li>
  <li>
    <%= f.label :city, 'City' %>:
    <%= f.text_field :city %>   
  </li>
  <li>
    <%= f.label :country, 'Country' %>:
    <%= f.text_field :country %>   
  </li>
  <li>
    <%= f.label :dates_attended, 'Datas attended' %>:
    <%= f.text_field :dates_attended %>
  </li>
  <li>
    <%= f.label :degree, 'Degree' %>
    <%= f.text_field :degree %>
  </li>
  <li>
    <%= f.label :type_of_study, 'Type of study' %>
    <%= f.text_field :type_of_study %>
  </li>
  <li>
    <%= f.label :field_of_study, 'Field of study' %>
    <%= f.text_field :field_of_study %>
  </li>
  <li>
    <%= f.check_box :_destroy %>
    <%= f.label :_destroy, 'Remove education'%>
  </li>
</ul>