<ul>
  <li>
    <%= f.label :firstname, 'Name' %>:
    <%= f.text_field :firstname %>   
  </li>
  <li>
    <%= f.label :lastname, 'Last Name' %>:
    <%= f.text_field :lastname %>
  </li>
  <li>
    <%= f.label :address, 'Address' %>
    <%= f.text_field :address %>
  </li>
  <li>
    <%= f.label :country, 'Country' %>
    <%= f.text_field :country %>
  </li>
  <li>
    <%= f.label :telephone, 'Telephone' %>
    <%= f.text_field :telephone %>
  </li>
</ul>