<h1>New Resume</h1>

<%= form_for @resume do |f| %>
  

  <%= f.fields_for :personal_detail do |personal_detail_fields| %>
    <%= render "resumes/form_partials/personal_details", :f => personal_detail_fields %>
  <% end %>
  <%= f.fields_for :educations do |education_fields| %>
    <%= render "resumes/form_partials/education", :f => education_fields %>
  <% end %>
  <%= f.submit %>
<% end %>
